.active{
    margin:60px;
    align-items: center;


}
.my-todo{
    
    background-color: cornflowerblue;
    text-align: center;
    height:200px;
    display:inline-block;
    width:max-content;

   
}
.child-div{
    background-color: rgb(237, 190, 202);
   margin: 30px;
    
  
}
.submit{
   margin:50px;
   background-color: rgb(237, 190, 202);
}
 
.text{
    text-align: left;
}
 .my-text{
    text-align: left;
    float:left;
 }


